<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E70A2E31C6E0FEC00EA2C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E70A2F71C6E0FEC00EA2C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E70A3021C6E0FEC00EA2C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
